:root {
  --color-primary-50: 250 237 255;  /* Tono claro de lila NI COMAS NI RGB*/
  --color-primary-100: 250 232 254;  /* Tono claro de lila */
  --color-primary-200: 230 201 241;  /* Tono claro de lila */
  --color-primary-300: 217 190 233;  /* Tono claro de lila */
  --color-primary-400: 203 174 218;  /* Tono medio de lila */
  --color-primary-500: 194 165 211;  /* Tono medio de lila */
  --color-primary-600: 188 153 208;  /* Tono medio de lila */
  --color-primary-700: 181 145 204;   /* Tono oscuro de lila */
  --color-primary-800: 140 108 161;   /* Tono oscuro de lila */
  --color-primary-900: 136 98 160;     /* Tono oscuro de lila */
  --color-primary-950: 102 64 128;     /* Tono más oscuro de lila */
}